@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --corCard: #024873;
}

/*

Paleta de cores

#024873
#025373
#F2B035
#D97904
#A6806A

*/

/* Decalaração universal*/
* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: #A6806A; /*cor do background*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

header img {
        width: 160px;
        

}

.categorias {
    border: solid;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 15px;
    background-color: var(--corCard);
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
