@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Decalaração universal*/
* {
    margin: 0px;
    padding: 0px;
    
}

h1 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

body {
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

header img {
        width: 160px;
        margin-bottom: 30px;

}

.categorias {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    flex-wrap: wrap;
    gap: 5px;   
}

button {
    background-color: rgb(218, 54, 54);
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: rgb(230, 115, 115);
}

.item {
    display: flex;
    align-items: end;
    justify-content: center;   
    background-color: rgb(97, 153, 153);
    width: 30%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(167, 166, 165);
    border
}
    /*Aqui começam as imagens dos produtos organizadas em ID*/

#necessaire {
    background-image: url(../img/imgDestques/necessaire.jpg);
}

#mochila {
    background-image: url(../img/imgDestques/mochila.jpg);
}

#portaBloco {
    background-image: url(../img/imgDestques/portaBloco.jpg);
}

#termica {

    background-image: url(../img/imgDestques/termica.jpg);
}

#diversos {
    background-image: url(../img/imgDestques/diversos.jpg);
}

#mala {
    background-image: url(../img/imgDestques/mala.jpg);
}

#carteira {
    background-image: url(../img/imgDestques/carteiras.jpg);
}

#pasta {
    background-image: url(../img/imgDestques/pastas.jpg);
}

#estojo {
    background-color: rgb(63, 56, 56);
}

#bolsa {
    background-image: url(../img/imgDestques/bolsa.jpg);
}

#importados {
    background-color: rgb(209, 155, 84);
}

#null {
    background-color: rgb(94, 47, 100);
}

footer {
    background-color: black;
    color: rgb(85, 85, 85);
    display: flex;
    height: 10vh;
    justify-content: center;
    
    
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;

}