@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Decalaração universal*/
* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: #0d0c25;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #0d0c25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

header img {
        width: 160px;
        

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #271F30;
    width: 90%;
    border-radius: 15px;
    margin: 30px;
    padding: 30p;
}

main h1 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #F24405;
    letter-spacing: 4px;
    padding: 30px;   
}

main p {
    font-family: 'Inter', sans-serif;
    color: #b3b3b3;
    width: 80%;
    text-align: justify;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px 40px;
    flex-wrap: wrap;
    gap: 20px; 
      
}

button {
    background-color: #F24405;
    border: none;
    color: #271F30;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

button:hover {
    background-color: #ff4f0f;
}

.item {
    display: flex;
    align-items: end;
    justify-content: center;   
    background-color: rgb(90, 90, 90);
    width: 40%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: #a7a6a5;
    border-radius: 10px;
    box-shadow: #160b3d2d 0px 0px 20px 1px;
    
    
}
    /*Aqui começam as imagens dos produtos organizadas em ID*/

#necessaire {
    background-image: url(../img/imgDestques/necessaire.jpg);
}

#mochila {
    background-image: url(../img/imgDestques/mochila.jpg);
}

#portaBloco {
    background-image: url(../img/imgDestques/portaBloco.jpg);
}

#termica {

    background-image: url(../img/imgDestques/termica.jpg);
}

#diversos {
    background-image: url(../img/imgDestques/diversos.jpg);
}

#mala {
    background-image: url(../img/imgDestques/mala.jpg);
}

#carteira {
    background-image: url(../img/imgDestques/carteiras.jpg);
}

#pasta {
    background-image: url(../img/imgDestques/pastas.jpg);
}

#estojo {
    background-color: rgb(63, 56, 56);
}

#bolsa {
    background-image: url(../img/imgDestques/bolsa.jpg);
}

#importados {
    background-color: rgb(209, 155, 84);
}

#null {
    background-color: rgb(94, 47, 100);
}

footer {
    background-color: black;
    color: rgb(85, 85, 85);
    display: flex;
    height: 10vh;
    justify-content: center;
    
    
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;

}