@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Paleta de cores

#025259 - Azul escuro
#007172 - Azul médio
#F29325 - Amarelo
#D94F04 - Laranja
#F4E2DE - Marfim

*/

:root {
    --azulEscuro: #025259;
    --azulMedio: #007172;
    --amarelo: #F29325;
    --laranja: #D94F04;
    --marfim: #F4E2DE;
    --preto: #1d1d1d;
    --branco: #d1d1d1;
}
* {
    margin: 0px;
    padding: 0px;
}

body, body {
    background-color: var(--azulMedio);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header img {
    max-width: 40%;
    display: flex;
}

/*---------------------------------------------------------------*/


main {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 40vh 40vh 40vh 40vh;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--marfim);
    
   

}

.card {
    width: 100%;
    height: auto;
}

.mala {
    background-color: var(--amarelo);
    grid-column-start: 1;
    grid-column-end: 3;
}
.bolsa {
    background-color: var(--azulEscuro);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3 ;
}
.mochila {
    background-color: var(--amarelo);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.carteira {
    background-color: var(--laranja);
}
.necessaire {
    background-color: var(--amarelo);
    grid-row-start: 4;
    grid-row-end: 5;
}
.estojo {
    background-color: var(--azulMedio);
    grid-row-start: 4;
    grid-row-end: 5;
}
.diversos {
    background-color: var(--amarelo);
    grid-row-start: 4;
    grid-row-end: 5;
}
.termicas {
    background-color: var(--amarelo);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.importados {
    background-color: var(--azulEscuro);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

footer {
    background-color: var(--preto);
}